body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #fff;
  color: #003087;
}

.nav {
  margin-right: 50px;
}

.nav-link {
  color: #003087;
  font-weight: bold;
}

.dropdown-toggle {
  background-color: transparent;
  border-color: #fff;
}

.hr-1 {
  background-color: #003087;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  border: solid 3px #003087;
}

.hr-2 {
  background-color: #daaa00;
  opacity: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  border: solid 3px #daaa00;
}

.section {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.text-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #003087;
}

.text-effect::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: 'Fee Calculator';
  color: #daaa00;
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 0.3s;
}

.text-effect:hover::before {
  width: 100%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  margin-bottom: -40px;
  margin-top: -20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #daaa00;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

/*
responsive
*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.fee-calculator {
  padding-left: 30rem;
}
