* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: #f1f1f1;
}

.navbar {
  background-color: #fff;
  color: #003087;
}

.nav {
  margin-right: 50px;
}

.nav-link {
  color: #003087;
  font-weight: bold;
}

.hr-1 {
  background-color: #003087;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  border: solid 3px #003087;
}

.hr-2 {
  background-color: #daaa00;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 20px;
  border: solid 3px #daaa00;
}

.section {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.text-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #003087;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  margin-bottom: -40px;
  margin-top: -20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #daaa00;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

/*
responsive
*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Help Page */
main {
  padding: 30px;
}

.mb-1 h5 {
  font-weight: bold;
}

/* Valerie's CSS */

#regForm {
  background-color: #fff;
  margin: 100px auto;
  font-family: Raleway, sans-serif;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway, sans-serif;
  border: 1px solid #aaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #fdd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #003087;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway, sans-serif;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.3;
}

#prevBtn {
  background-color: #daaa00;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #a39382;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.2;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  opacity: 0.6;
}

/* print button */
button.print-button {
  position: relative;
  padding: 0;
  border: 0;
  border: none;
  background: transparent;
  width: 60px;
  height: 60px;
}

span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
  border: solid 4px #333;
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;
  padding: 0;

  /*
  margin-top: 20%;
  */

  width: 60%;
  height: 35%;
  background: #fff;

  /*
  border-radius: 20% 20% 0 0;
  */

  top: 0;
  left: 0;
}

span.print-icon::before {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;
  transition: height 0.2s 0.15s;
}

span.print-icon::after {
  border-width: 2px;
  content: ' ';
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0,
    #fff 14%,
    #333 14%,
    #333 28%,
    #fff 28%,
    #fff 42%,
    #333 42%,
    #333 56%,
    #fff 56%,
    #fff 70%,
    #333 70%,
    #333 84%,
    #fff 84%,
    #fff 100%
  );

  transition: height 0.2s, border-width 0s 0.2s, width 0s 0.2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height: 0;
  transition: height 0.2s;
}

button.print-button:hover .print-icon::after {
  height: 120%;
  transition: height 0.2s 0.15s, border-width 0s 0.16s;
}

/* Help Page */

table {
  background-color: white;
  width: 80%;
  border: 2px solid black;
  display: table;
}

tr {
  background-color: lightgray;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  border: 2px solid black;
  font-weight: bolder;
  font-size: 17px;
  padding: 10px;
  background-color: #fff;
}

td {
  padding: 5px;
  border: 2px solid black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

li.a {
  list-style-type: circle;
  text-align: left;
}

.MainContainer {
  padding: 25px;
}

.displayTable {
  line-height: 200%;
}

li.b {
  font-size: 14px;
}

.a {
  text-align: center;
}

.c {
  text-align: center;
  font-size: 16px;
}

.courseDetails {
	background: #e2edfa;
	color: #27348B;
	font-size: 15px;
	font-weight: 600;
	border-right: 1px solid #fff;
}

.totals {
	background: #27348B;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-right: 1px solid #fff;
}

.courseInfo {
	background: #fff;
}

/*
##############################################################################################
*/

@page {
  size: auto;
  margin: 20mm;
}
