body {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.5 !important;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

* {
  /* margin: 0 !important;
  padding: 0 !important; */
  box-sizing: border-box !important;
}

.navbar {
  background-color: #fff !important;
  color: #003087 !important;
  padding-right: 4rem !important;
}

.nav {
  margin-right: 50px !important;
}

.nav-link {
  color: #003087 !important;
  font-weight: bold !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.hr-1 {
  background-color: #003087 !important;
  opacity: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: solid 3px #003087 !important;
}

.hr-2 {
  background-color: #daaa00 !important;
  opacity: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  border: solid 3px #daaa00 !important;
}

.section {
  position: relative !important;
  width: 100% !important;
  height: 50vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden !important;
}

.text-effect {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 6rem !important;
  z-index: 1 !important;
  font-weight: bold !important;
  letter-spacing: 0.2em !important;
  text-transform: uppercase !important;
  color: #003087 !important;
}

.text-effect::before {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  content: 'Fee Calculator' !important;
  color: #daaa00 !important;
  position: absolute !important;
  width: 0 !important;
  overflow: hidden !important;
  transition: 0.3s !important;
}

.text-effect:hover::before {
  width: 100% !important;
}

.video-container {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

.color-overlay {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background-color: lightblue !important;
  width: 100% !important;
  height: 100vh !important;
  opacity: 0.2 !important;
}

.footer-container {
  max-width: 1170px !important;
  margin: auto !important;
  margin-bottom: -40px !important;
  margin-top: -20px !important;
}

.row {
  display: flex;
  flex-wrap: wrap !important;
}

ul {
  list-style: none !important;
}

footer {
  background-color: #24262b !important;
  padding: 70px 0 !important;
}

.footer-col {
  width: 25% !important;
  padding: 0 15px !important;
}

.footer-col h4 {
  font-size: 18px !important;
  color: #fff !important;
  text-transform: capitalize !important;
  margin-bottom: 35px !important;
  font-weight: bold !important;
  position: relative !important;
}

.footer-col h4::before {
  content: '' !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -10px !important;
  background-color: #daaa00 !important;
  height: 2px !important;
  box-sizing: border-box !important;
  width: 50px !important;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px !important;
}

.footer-col ul li a {
  font-size: 16px !important;
  text-transform: capitalize !important;
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 300 !important;
  color: #bbb !important;
  display: block !important;
  transition: all 0.3s ease !important;
}

.footer-col .socials a {
  display: inline-block !important;
  height: 40px !important;
  width: 40px !important;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0 !important;
  text-align: center !important;
  line-height: 40px !important;
  border-radius: 50% !important;
  color: #fff !important;
  transition: all 0.5s ease !important;
}

.footer-col ul li a:hover {
  color: #fff !important;
  padding-left: 8px !important;
}

.footer-col .socials a:hover {
  color: #24262b !important;
  background-color: #fff !important;
}

/*
responsive
*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
